{% extends 'main/base.html' %}

{% block title %}
Web-Assistant
{% endblock %}

{% block body %}
<form method="post" class="chat-body">
    {% csrf_token %}
    <div class="menu-chats">
        
    </div>
    <div class="container-body">
        <div class="current-chat">
            <ul class="chatbox">
                <li class="chat incoming">
                    <span class="hedgehog">
                        <img src="static/images/hedgehog.png", alt="img-hedgehog"/>
                    </span>
                    <p>Привет 👋<br>Меня зовут Ёжик, и я твой помощник.<br>Спроси меня о чём-нибудь.</p>
                </li>
            </ul>
            <div class="chat-input">
                <textarea placeholder="Введите сообщение..." required></textarea>
                <div class="button">
                    <span class="letter">
                        <img src="static/images/letter.png", alt="img-letter"/>
                    </span>
                    <span class="microphone">
                        <img src="static/images/microphone.png", alt="img-microphoneg"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}